<div style="width: 100vw">
    <ol class="breadcrumb py-2 px-6 rounded-0" style="opacity: 0.9; background-color: #ececec">
    <%= render_breadcrumbs :tag => :li, :separator => " > " %>
    </ol>
</div>
