<% if model.errors.any? %>
  <div class="alert alert-secondary pb-0" role="alert">
    <h4 class="alert-heading">
      <p>Verifique os erros abaixo</p>
    </h4>
    <div class="my-0">
      <ul>
        <% model.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>