<footer class="footer bg-medium-blue text-light py-4 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <p class="mb-0">&copy; <%= Time.now.year %> Feito com amor pela turma do TreinaDev 12.</p>
      </div>
    </div>
  </div>
</footer>