<nav class="navbar fixed-top" style="background-color: #FDE879">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CondoMinions</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="background-color: #577998">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Gerenciamento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <%= link_to 'Criar Tipo de unidade', new_unit_type_path, class: 'nav-link custom-element' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<style>
  .custom-element{
    font-weight: bold;
  }
  .custom-element::before{
    content: '+ ';
  }
</style>