<h1>Cola?Bora!</h1>

<div id="vue-app" class="card">
  <div class="card-body">
    <label>Mensagem
      <input type="text" v-model="insertText" placeholder="Coloque uma mensagem aqui" class="form-control">
    </label>
    <button v-on:click="insertMessage" class="btn btn-primary">Imprimir</button>
  </div>
  <div class="card-footer">
    <p>{{ message }}</p>
  </div>
</div>
