<div class="accordion-item rounded-5 shadow-sm">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed rounded-pill py-3" style="background-color: #FDE879" type="button" data-bs-toggle="collapse" data-bs-target="#bills" aria-expanded="false" aria-controls="collapseOne">
      <strong class="position-absolute top-50 start-50 translate-middle text-black">Faturas em Aberto</strong>
    </button>
  </h2>
  
  <div id="bills" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body accordion-bills">
      <% if !@refused && @bills.present? && @bills.any? %>
        <% @bills.take(3).each do |bill| %>
          <div class="d-flex align-items-center my-1 accordion-bill">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar mx-2" viewBox="0 0 16 16">
              <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
            </svg>
            <div class="d-flex flex-column mx-3">
              <div class="mt-3 fs-5">Valor: <%= bill.total_value_formatted %></div>
              <div class="text-muted small">Vencimento: <%= bill.due_date_formatted %></div>
            </div>
            <%= link_to bill_path(bill.id), class: "ms-auto btn btn-dark d-inline-flex align-items-center rounded-pill" do %>
              <p style="margin: 0; font-size: 14px;">Detalhes</p> <i class="bi bi-search ms-1"></i>
            <% end %>
          </div>
          <hr class="m-0">
        <% end %>
        <% if @bills.count > 3 %>
          <div class='d-flex'>
            <%= link_to bills_path, class:"btn py-1 rounded-pill d-flex justify-content-center align-items-center mb-2 w-25 fs-6 text-muted small", style: "width: 100%;" do %>
              <strong>ver mais</strong>
            <% end %>
          </div>
        <% end %>
      <% elsif @refused %>
        <div class="alert alert-warning text-center">Conexão perdida com o servidor do PagueAlugel.</div>
      <% else %>
        <div class="alert alert-warning text-center">Não existem faturas em aberto.</div>
      <% end %>
    </div>
  </div>
</div>