<div class="accordion-item rounded-5 mb-2 shadow-sm">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed rounded-pill py-3 bg-light-yellow" type="button" data-bs-toggle="collapse" data-bs-target="#residents" aria-expanded="false" aria-controls="collapseOne">
      <strong class="position-absolute top-50 start-50 translate-middle text-black">Lista de Moradores</strong>
    </button>
  </h2>
  
  <div id="residents" class="accordion-collapse collapse" data-bs-parent="#accordionExample" data-controller="condo" condo-id="<%= @condo.id%>" >
    <div class="accordion-body">
      <label for="searchResident" class="d-none">search</label>
      <input id="searchResident" class='form-control mr-sm-2 mb-1' type="search" placeholder="Digite o nome do morador" data-action="keyup->condo#search">
      <div id="residentsResult" class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 max-h-300px max-w-auto" data-condo-target="divBody"></div>
    </div>
  </div>
</div>