<section class="bg-white rounded-5 py-4 px-5 shadow">
  <h1><%= @floor.print_identifier %></h1>

  <% @floor.return_unit_types.each_with_index do |unit_type, index| %>
    <div id = <%= "unit-type-#{index + 1}" %>>
      <h2><%= unit_type.description %></h2>
      
      <% @floor.units.each do |unit| %>
        <% if unit.unit_type == unit_type %>
          <p><%= unit.print_identifier %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</section>