<h1>Tipo de unidade</h1>

<div>
  Descrição: <%= @unit_type.description %>
</div>

<div>
  Metragem: <%= @unit_type.metreage_to_square_meters%>
</div>

<div>
  Fração Ideal: <%= @unit_type.fraction_to_percentage%>
</div>

<div>
  <%= link_to 'Editar', edit_unit_type_path(@unit_type), class:"btn btn-dark"  %>
</div>