<h1>Tipo de unidade</h1>

<div>
  Descrição: <%= @unit_type.description %>
</div>

<div>
  Metragem: <%= @unit_type.p_metreage%>
</div>

<div>
  <%= link_to 'Editar', edit_unit_type_path(@unit_type) %>
</div>